<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>  Vue 中多个元素或组件的过渡动画</title>
  <script src = './vue.js'></script>
  <!--  <script src = './velocity.js'></script> -->
  <style>
    .v-enter,.v-leave-to{
      opacity:0;
    }
    .v-enter-active,.v-leave-active{
      transition: opacity 1s;
    }
  </style>
</head>
<body>
<div id ='root'>
  <transition>
    <div v-if ="show" key="hello">Hello World</div>
    <div v-else key="bye">Bye World</div>
  </transition>
  <button @click="handleClick">toggle</button>
</div>

<script>
  var vm = new Vue({
    el:'#root',
    data:{
      show:true
    },
    methods:{
      handleClick:function(){
        this.show = !this.show

      },
      handleBeforeEnter:function(el){
        el.style.opacity = 0;
      },
      handleEnter:function(el,done){
        Velocity(el,{opacity:1},
          {duration:1000,
            complete:done
          })
      },
      handleAfterEnter:function(el){
        console.log("动画结束")
      }
    }
  })
</script>
</body>
</html>

---------------------
作者：姜皓
来源：CSDN
原文：https://blog.csdn.net/jianghao233/article/details/81435324
版权声明：本文为博主原创文章，转载请附上博文链接！
